@page "/guidgenerator"
@using TextCopy
@using Microsoft.Extensions.Logging
@inject IClipboard Clipboard;
@inject ILogger<GuidGenerator> Logger;

<h3>Guid Generator</h3>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" @onclick="Generate">Generate</button>
    </div>
    <input type="text" disabled class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="@_guid">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="copy-btn" type="button" @onclick="ToClipboard">@_caption</button>
    </div>
</div>

@code {
    private string _guid;
    private string _caption { get; set; } = "To clipboard";

    private void Generate()
    {
        _guid = Guid.NewGuid().ToString();
        _caption = "To сlipboard";
    }

    private async Task ToClipboard()
    {
        try
        {
            await Clipboard.SetTextAsync(_guid);
            _caption = "Copied!";
        }
        catch (Exception ex)
        {
            Logger.LogError("error copying to clipboard", ex);
            _caption = "Not copied!";
        }
    }
}